body{
	background: url(../images/background.jpg);
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
}

div#menu{
	position: relative;
	top: 30%;
}
h1, h2, h3{
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 0px;
}
div#menu h1{
	font-weight: bold;
	font-size: 100px;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #000;
	opacity: 0.5;
	padding-left: 30px;
}
div#menu ul{
	list-style: none;
}
div#menu ul li{
	display: block;
	float: left;
	width: 16%;
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	height: 50px;
	background-color: #fff;
	opacity: 0.7;
	text-align: center;
	margin: 1px;
	padding-top: 25px;
	padding-left: 1px;
	padding-right: 2px;
}
div#menu ul li:hover{
	background-color: #76acfd;
	opacity: 0.9;
}
div#menu ul li.active{
	background-color: #76acfd;
	opacity: 1;
}
div#menu ul li a, div#menu ul li a:active, div#menu ul li a:visited{
	color: #000;
	text-decoration: none;
}